// ******************
// c-board
// ***

$component-name: 'c-board'

.#{$component-name}
  text-align: center
  background-color: black
  overflow: hidden
  width: 255px
  margin: 50px auto
  padding: 20px

