// ******************
// c-board
// ***

$component-name: 'c-board'

.#{$component-name}
  text-align: center
  overflow: hidden
  background-color: $color-ligth
  color: $color-dark
  box-sizing: border-box
  padding: 10px

.#{$component-name}__list
  background-color: $color-dark
  box-sizing: border-box
  padding: 5px
  min-height: 63px
