// ******************
// example
// ***

$component-name: 'c-board'

.#{$component-name}
  margin: 0 auto
  width: 500px

.#{$component-name}__item
    display: inline-block
    width: 10px
    height: 10px
    background-color: red

.#{$component-name}__line
  padding: 0;
  height: 10px;
  background-color: black;
  display: block;
  overflow: hidden;
  line-height: 10px;

