// ******************
// c-field
// ***

$component-name: 'c-field'

.#{$component-name}
  margin: 0 auto
  width: 50px
  float: left

.#{$component-name}__item
    display: inline-block
    width: 10px
    height: 10px
    background-color: black
    &.is-active
      background-color: green

.#{$component-name}__line
  padding: 0;
  height: 10px;
  background-color: black;
  display: block;
  overflow: hidden;
  line-height: 10px;

