// ******************
// c-options
// ***

$component-name: 'c-options'

.#{$component-name}
  text-align: center
  padding: 10px 0
  background-color: $color-primary-dark

.#{$component-name}__button
  background-color: transparent
  cursor: pointer
  outline: 0
  border: 0
  padding: 0
  transition: 0.3s
  &:hover
    opacity: 0.5
  > .c-field
    padding: 3px
    border: 1px solid $color-primary-light
