// ******************
// c-options
// ***

$component-name: 'c-options'

.#{$component-name}
  text-align: center
  padding: 10px 0
  background-color: $color-primary-dark

.#{$component-name}__button
  background-color: transparent
  border: 1px solid $color-primary-light
  padding: 3px 3px 2px 3px
  margin: 3px
  cursor: pointer
  outline: 0
  transition: 0.3s
  &:hover
    opacity: 0.5
