// ******************
// c-progress-bar
// ***

$component-name: 'c-progress-bar'

.#{$component-name}
  background-color: #FF4C4C
  position: fixed
  width: 100%
  top: 0
  height: 10px
  text-align: center
  left: 0

.#{$component-name}__bar
  background-color: #FFFB6C
  margin: 0 auto
  height: 100%
  display: block
  transition: 0.2s
