// ******************
// c-progress-bar
// ***

$component-name: 'c-progress-bar'

.#{$component-name}
  background-color: $color-secondary-dark
  width: 100%
  top: 0
  left: 0
  height: 100%
  text-align: center
  position: absolute
  z-index: $z-index--progress-bar


.#{$component-name}__bar
  background-color: $color-primary-light
  margin: 0 auto
  height: 10px
  display: block
  transition: 0.2s
  margin-top: 10px
  box-shadow: 0 0 5px $color-secondary-light
  &.is-ending
    box-shadow: 0 0 5px #FF4B4B
    background-color: #FA3838
