// ******************
// c-social
// ***


$component-name: 'c-social'
$component-size: 30px

.#{$component-name}
  position: fixed
  top: 0
  right: 0
  .c-icon
    width: $component-size
    height: $component-size
    fill: $color-primary-light
		transition: 0.3s

.#{$component-name}__item
	display: inline-block
	height: 50px
	position: relative
	box-sizing: border-box
	padding: 10px
