// ******************
// c-startup
// ***

$component-name: 'c-startup'

.#{$component-name}
  font-size: $font-size-default

.#{$component-name}__item
  margin: auto
  position: fixed
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  text-align: center

.#{$component-name}__button
  width: 190px
  margin: 20px auto
