// ******************
// c-startup
// ***

$component-name: 'c-startup'

.#{$component-name}
  text-align: center
  font-size: $font-size-default

.#{$component-name}__item
  margin: auto

.#{$component-name}__button
  width: 190px
  margin: 20px auto
