// ******************
// c-timer
// ***

$component-name: 'c-timer'

.#{$component-name}
  text-align: center
  color: $color-primary-ligth
  font-size: 40px
  max-width: 960px
  margin: 0 auto
  padding: 30px 0
