// ******************
// c-timer
// ***

$component-name: 'c-timer'

.#{$component-name}
  background-color: red
  position: fixed
  width: 100%
  bottom: 0
  height: 20px
  text-align: center

.#{$component-name}__bar
  background-color: blue
  margin: 0 auto
  height: 100%
  display: block
  transition: 0.3s
