// ******************
// config file
// ***

// fonts
$font-family-default: 'lcd_solidregular'

// colors
$color-primary: #3D5928
$color-secondary: #97E381

$color-dark: #1F2326
$color-ligth: #006A11

